@mixin xcenter-col-flex{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
 }

 .loginStart{
	margin-top: -70px;
	position: relative;
	top: 12rem;
	width: 10rem;
	height: 4rem;
	color: #2F4F4F;
	border-width: 1px;
	border-style: solid;
	border-color: #2F4F4F;
	font-size: 2rem;
	cursor: pointer;
	border-radius: 5%;
	transition: 0.5s;
	&:hover{
	  background-color: #2F4F4F;
	  color: #fff;
	}
 }
 .loginInput{
	position: relative;
	top: 7rem;
	width : 12rem;
	height: 3rem;
	padding-left: 1em;
	padding-right: 1em;
	border-width: 0px 0px 1px 0px;
	border-style: solid;
	border-color: #b4b4b4;
	font-size: 1rem;
	text-align: center;
	color: #848484;
	transition: all 0.1s,width 0.5s;
	&::placeholder{
	  color: #b4b4b4;
	  text-align: center;
	}
	&:focus{
	  border-width: 1.5px 1.5px 1.5px 1.5px;
	  border-color: #66eece;
	  width: 15rem;
	  text-align: center;
	  border-radius: 5%;
	}
 }
 .warning {
	 margin-top: 100px;
	 margin-bottom: -100px;
	 position: relative;
	 top: 1rem;
	 font-size: 1rem;
	 color: #ff0000;
 }
 .loginHeader{
	position: relative;
	top: 1.5rem;
	font-size: 4.5rem;
	color: #2F4F4F;
 }
 .loginText{
	 margin-top: 20px;
	 position: relative;
	 top: 1.5rem;
	 font-size: 1.5rem;
	 color: #2F4F4F;
 }
 .loginMenu{
	@include xcenter-col-flex;
	width: 24rem;
	height: 30rem;
	text-align: center;
	border-radius: 5%;
	background-color: #fff;
	overflow: hidden;
 }

.loginRoot{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	background-color: #2F4F4F;
	color: #b4b4b4;
}

 /// reset
 @import 'Open-Sans-font.scss';
 //reset dom like input
 *:focus {
	outline: none;
 }
 *,
 *::before,
 *::after {
	margin: 0;
	border: none;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
 }

 html {
	height: 100%;
 }

 #root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  line-height: 1.4;
 }

.game-info {
   position: absolute;
   right: 0;
   top: 0;
   width: 150px;
   height: 90px;
   text-align: center;
   background-color: #fff;
   border: 1px solid;
   padding: 10px;
   box-shadow: 5px 10px #888888;
}

.custom-select-wrapper {
	margin-top: 40px;
	margin-bottom: -100px;
	font-size: 20px;
	height: 40px;
	text-align: center;
}

.lotterytext {
	position: relative;
	margin-top: 90px;
	font-size: 1rem;
	color: #000000;
}

.lotterycode {
	position: relative;
	margin-top: 10px;
	margin-bottom: -160px;
	font-size: 2.5rem;
	color: #0fff0f;
}

.lotterybutton{
 margin-top: -20px;
 position: relative;
 top: 12rem;
 width: 10rem;
 height: 4rem;
 color: #2F4F4F;
 border-width: 1px;
 border-style: solid;
 border-color: #2F4F4F;
 font-size: 1.8rem;
 cursor: pointer;
 border-radius: 5%;
 transition: 0.5s;
 &:hover{
	 background-color: #2F4F4F;
	 color: #fff;
 }
}

.link {
	text-decoration: none;
	color: #A9A9A9;
}

.info {
	font-size: 1.2rem;
	margin-top: 40px;
	margin-bottom: -40px;
	color: #000000;
}

.maker {
	font-size: 1rem;
	margin-top: 220px;
	color: #000000;
}

.rule {
	margin-top: 30px;
	margin-bottom: -30px;
	font-size: 0.5rem;
}
