@mixin xcenter-col-flex{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
 }

 .loginOnline{
	@include xcenter-col-flex;
	width: 100%;
	height: 100%;
	top: 55%;
	transition: 0.6s ease-out;

	.loginOnlineDraw{
	  width: 30%;
	  height: 3rem;
	  padding-top: 8px;
	  cursor: pointer;
	  background-color: #ee66aaa3;
	  color: #fff;
	  font-size: 1.3rem;
	  border-radius: 50% 50% 0 0;
	  transition: 0.5s;
	}
	.loginOnlineul{
		background-color: #676666;
	  list-style-type: none; //remove default style
	  width: 100%;
	  height: 100%;
	  padding-top: 15px;
	  overflow: scroll;
	  text-align: left;
	}
	.loginOnlineli{
	  color:#fff;
	  font-size: 1.2rem;
	  list-style-type: disc;
	}
	&.open{
	  top: 0%;
	}
 }

 .loginStart{
	position: relative;
	top: 12rem;
	width: 10rem;
	height: 4rem;
	color: #30e8bd;
	border-width: 1px;
	border-style: solid;
	border-color: #30e8bd;
	font-size: 2rem;
	cursor: pointer;
	border-radius: 5%;
	transition: 0.5s;
	&:hover{
	  background-color: #30e8bd;
	  color: #fff;
	}
 }
 .loginInput{
	position: relative;
	top: 6rem;
	width : 12rem;
	height: 3rem;
	padding-left: 1em;
	padding-right: 1em;
	border-width: 0px 0px 1px 0px;
	border-style: solid;
	border-color: #b4b4b4;
	font-size: 1rem;
	text-align: center;
	color: #848484;
	transition: all 0.1s,width 0.5s;
	&::placeholder{
	  color: #b4b4b4;
	  text-align: center;
	}
	&:focus{
	  border-width: 1.5px 1.5px 1.5px 1.5px;
	  border-color: #66eece;
	  width: 15rem;
	  text-align: left;
	  border-radius: 5%;
	}
 }
 .loginHeader{
	position: relative;
	top: 1.5rem;
	font-size: 4.5rem;
	color: #30e8bd;
 }
 .loginMenu{
	@include xcenter-col-flex;
	width: 24rem;
	height: 30rem;
	text-align: center;
	border-radius: 5%;
	background-color: #fff;
	overflow: hidden;
 }

.loginRoot{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	background-color: #9cf4df;
	color: #b4b4b4;
}

 /// reset
 @import 'Open-Sans-font.scss';
 //reset dom like input
 *:focus {
	outline: none;
 }
 *,
 *::before,
 *::after {
	margin: 0;
	border: none;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
 }

 html {
	height: 100%;
 }

 #root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  line-height: 1.4;
 }
